n8n-build-queue-workflow.json
{
  "name": "Build Queue Notifications",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bryanOS",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "build-queue-webhook"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.body.event }}",
        "rules": {
          "rules": [
            {
              "value2": "task_created",
              "output": 0
            },
            {
              "value2": "task_updated",
              "output": 1
            },
            {
              "value2": "task_completed",
              "output": 2
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "switch-event-type",
      "name": "Switch Event Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "chatId": "8670891353",
        "text": "=🆕 *New Task Created*\n\n📋 {{ $json.body.task.title }}\n👤 Assigned: {{ $json.body.task.assignee }}\n{{ $json.body.task.priority === 'Critical' ? '🔴' : $json.body.task.priority === 'High' ? '🟠' : $json.body.task.priority === 'Medium' ? '🟡' : '🟢' }} Priority: {{ $json.body.task.priority }}\n🎯 Client: {{ $json.body.task.client }}\n{{ $json.body.task.system ? '🔧 System: ' + $json.body.task.system : '' }}\n\n{{ $json.body.task.notes ? '📝 ' + $json.body.task.notes.substring(0, 100) + '...' : '' }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "telegram-task-created",
      "name": "Telegram - Task Created",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [650, 200],
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot-creds",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "8670891353",
        "text": "=🔄 *Task Updated*\n\n📋 {{ $json.body.task.title }}\n👤 Assigned: {{ $json.body.task.assignee }}\n📊 Status: {{ $json.body.task.status }}\n🎯 Client: {{ $json.body.task.client }}\n\n{{ $json.body.updatedBy ? 'Updated by: ' + $json.body.updatedBy : '' }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "telegram-task-updated",
      "name": "Telegram - Task Updated",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [650, 300],
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot-creds",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "8670891353",
        "text": "=✅ *Task Completed*\n\n📋 {{ $json.body.task.title }}\n👤 Completed by: {{ $json.body.task.assignee }}\n🎯 Client: {{ $json.body.task.client }}\n⏱️ {{ $json.body.task.completedDate ? 'Completed: ' + $json.body.task.completedDate : '' }}\n\n🎉 Great work!",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "telegram-task-completed",
      "name": "Telegram - Task Completed",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [650, 400],
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot-creds",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Notification sent\" } }}"
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": false, \"message\": \"Unknown event type\" } }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "respond-error",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 500]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Switch Event Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Event Type": {
      "main": [
        [
          {
            "node": "Telegram - Task Created",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram - Task Updated",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram - Task Completed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram - Task Created": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram - Task Updated": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram - Task Completed": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-03-02T00:00:00.000Z",
  "versionId": "1"
}
